/* Remove Color Overlay from Dashboard */
.ic-DashboardCard__header_hero {
    opacity: 0 !important;
}

/* Remove Commons button */
#context_external_tool_14_menu_item {
    display: none;
}

/* Some overrides to hide dangerous parts*/

/* Remove settings on Dashboard cards */
.siu-TADetected .ic-DashboardCard__header-button {
    display: none;
}

/* Target : /courses/$id */

/* Hide some settings on course right-side: Canvas Commons */
.siu-TADetected #choose_home_page {
    display: none;
}

/* Hide some settings on course right-side: Canvas Commons */
.siu-TADetected .course-home-sub-navigation-lti {
    display: none;
}

/* Hide course settings link in page */
.siu-TADetected .ic-app-course-menu #section-tabs .section a[href|="/courses/"][href~="/settings"] {
    display: none;
}
.siu-TADetected .ic-app-course-menu #section-tabs .section a[href^="/courses/"][href$="/settings"] {
    display: none;
}

/* Target : /courses/$id/settings */

/* Hide course settings page content */
.siu-TADetected #course_details_tabs {
    display: none;
}

/* Target : /courses/$id/assignments */

/* Hide assignment groups creation button */
.siu-TADetected #addGroup {
    display: none;
}

/* Hide assignment creation button */
.siu-TADetected a.new_assignment {
    display: none;
}

/* Hide assignment groups settings button */
.siu-TADetected a#course_assignment_settings_link {
    display: none;
}

/* Hide assignment groups buttons */
.siu-TADetected #ag-list .ag-header-controls :not(.pill) {
    display: none;
}

/* Hide assignment groups admin buttons */
.siu-TADetected #ag-list .ig-admin {
    display: none;
}

/* Disable drag'n'drop */
.siu-TADetected #ag-list .ig-list li {
    pointer-events: none;
}

.siu-TADetected .sortable-handle {
    display: none;
}

.siu-TADetected .ig-handle {
    display: none;
}

/* Target : /courses/$id/assignments/$id */

/* Hide "Publish" and "Edit" buttons located at the top */
/* .siu-TADetected #assignment_show .assignment-buttons {
    display: none;
} */

/* Hide "+ rubric" button located at the bottom */
.siu-TADetected #assignment_show .add_rubric_link {
    display: none;
}

/* Target : /courses/$id/assignments/$id/edit */
.siu-TADetected #editor_tabs {
    display: none !important;
}

.siu-TADetected #edit_assignment_form #assignment_group_selector {
    display: none;
}

.siu-TADetected #edit_assignment_form #grading_type_selector {
    display: none;
}

.siu-TADetected #edit_assignment_form #graded_assignment_fields {
    display: none;
}

/* Hide "..." dropdown */
.siu-TADetected #edit_assignment_header .admin-links {
    display: none;
}

.siu-TADetected #assignment_name {
    display: none;
}

.siu-TADetected #tinymce-parent-of-assignment_description {
    display: none;
}

.siu-TADetected .tinymce-keyboard-shortcuts-toggle {
    display: none;
}

.siu-TADetected .toggle_description_views_link {
    display: none;
} 

/* Target : /courses/$id/quizzes */

/* Hide quiz creation button */
.siu-TADetected .new-quiz-form {
    display: none;
}

.siu-TADetected .new-quiz-form ~ .inline-block {
    display: none;
}

/* Hide quiz bank button */
.siu-TADetected a[href|="/courses/"][href~="/question_banks"] {
    display: none;
}
.siu-TADetected a[href^="/courses/"][href$="/question_banks"] {
    display: none;
}

/* Hide quiz admin buttons */
.siu-TADetected #assignment-quizzes .ig-admin {
    display: none;
}

.siu-TADetected #open-quizzes .ig-admin {
    display: none;
}

/* Target : /courses/$id/quizzes/$id */

.siu-TADetected #quiz_show .header-group-right .inline-block {
    display: none;
}

/* Target : /courses/$id/quizzes/$id/edit */

.siu-TADetected #editor_tabs {
    display: none !important;
}

.siu-TADetected #quiz_edit_wrapper .admin-links {
    display: none;
}

.siu-TADetected #quiz_title {
    display: none;
}

.siu-TADetected #tinymce-parent-of-quiz_description {
    display: none;
}

.siu-TADetected #quiz_options_form fieldset {
    display: none;
}

.siu-TADetected #questions_tab {
    pointer-events: none;
}

.siu-TADetected .tinymce-keyboard-shortcuts-toggle {
    display: none;
}

.siu-TADetected .toggle_description_views_link {
    display: none;
} 
